# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE settings
.idea/
*.iml

# Environment / secrets
.env
/git
/git.pub

# Runtime/cache
.cache
.cache-pi-dashboard
.pi-dashboard.pid
